*{
	margin: 0;
	padding: 0;
}
.bgimg{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(57deg, red 50%, pink 50%);
}
.centerdiv{
	width: 500px;
	height: 500px;
	position: absolute;
	top: 1%;
	left: 67%;
	background-color: darkblue;
	transform: translate(-1%, -1%);
	background-image: linear-gradient(27deg, gray 50%, lightgray 50%);
	box-shadow: 0 1px 6px                    , 0 1px 4px                    ;
}
#profilepic{
	width: 200px;
	height: 200px;
}
h2{
	text-align: right;
	color: black;
	text-transform: uppercase;
	font-size: 2em;
	margin-top: -50px;
	margin-bottom: 50px;
	margin-right: 40px; 
}
.sign-btn:hover {
  background-color: pink;