body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: url(pngtree-ppt-minimalistic-geometric-background-backgroundppt-template-backgroundsimplecool-image_54790.jpg);
	background-size: cover;
	background-position: center;
}

.Sign-up-form h1
{
	color: #1cbadb;
	margin-bottom: 30px;	 
}
.input-box
{
	border-radius: 20px;
	padding: 5px;
	margin: 5px;
	width: 99%;
	border: 1px solid #999;
	outline: none;
}
button
{
	color: #fff;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	margin: 10px 0;
	border: none;
	outline: none;
	cursor: pointer;
}
.sign-btn
{
	background-color: #ff00ff; 
}
.sign-btn:hover {
  background-color: black;
}
a
{
	text-decoration: none;
}
hr
{
	margin-top: 20px;
	width: 80%; 
}
img
{
	width: 70px
	margin-top: -50px;
}