style>

	*{margin: 0; padding: 0;}

    .centerdiv{
    	height: 100vh;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    }

    a{
    	height: 100px;
    	width: 100px;
    	background-color: black;
    	border-radius: 50px;
    	text-align: center;
    	margin: 10px;
    	line-height: 110px;
    	box-shadow: 1px 4px 2px red;
    }	
    a i {
    	transition: all 0.3s linear;
    }

    a:hover i{
    	transform: scale(1.4);
    }

    .fa-youtube{
    	color: #e84118;
    }
     </style>